* {
    box-sizing: border-box;
  }

  :root {
    --primary: #2364AA;
    --secondary: #3DA5D9;
    --tertiary: #FCFC62;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: var(--tertiary);
  }

  #logout:hover {
    color: var(--tertiary);
  }
  
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: var(--tertiary);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }

  #result{
    display: flex;
    gap: 10px;
    padding: 10px 0;
  }
  .thumbnail {
    height: 200px;
  }

  #display_image{
    width: 375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }


/* main.handlebars */
/* main.handlebars | header-container |*/
.header-bar {
    background-color: var(--secondary);
    box-shadow: var(--primary) 0vw .3vw 5px;
    border-color: var(--primary);
    padding: 2vw;
}

#web-title {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: var(--primary) .3vw .3vw 5px;
}

.nav-option {
    font-size: 1.7vw;
    color: white;
    text-shadow: var(--primary) .2vw .2vw 3px;
    float: right;
    padding-right: 2vw;
}

/* main.handlebars | main-container  */

.post-list {
    list-style-type: none;
}

/* post-info.handlebars | Each Post | */

.post {
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.post-container {
    padding-left: 2vw;
    border-left: 1vw solid var(--primary);
}

.each-post-pic {
    height: 35vw;
    width: 58.75vw;
    margin-left: -1.7vw;
}

.post-info {
    width: 57vw;
    background-color: var(--secondary);
    padding: 1vw;
}

.title-date {
    padding-top: 1vw;
}

.title {
    font-size: 2vw;
    color: white;
}

.date {
    font-size: 1vw;
    color: var(--primary);
}

.meta {
    font-weight: bold;
    padding-top: 2.8vw;
    font-size: 1.2vw;
    color: white;
}

.up-vote-button {
    width: 1vw;
    height: 1vw;
}

.comments-button {
    padding-left: 3vw;
}


/* main.handlebars | Footer | */

footer {
    background-color: var(--secondary);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3vw;
    padding-bottom: 2vw;
    border-bottom: .5vw;
    border-color: var(--primary);
    border-width: .5vw;
}

#thanks {
    font-size: 1.2vw;
    color: white;
}

/* comments.handlebars */

.meta p {
    font-weight: bold;
    color: black;
}